@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.woff2) format("woff2"),
    url(../fonts/Gilroy-Medium.woff) format("woff"),
    url(../fonts/Gilroy-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url(../fonts/Gilroy-Bold.woff2") format("woff2"),
    url(../fonts/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --primary-text-color: #070707;
  --light-color: #828282;
  --bg-light-color: #ffffff;
  --bg-dark-color: #f6f6f6;
}
/* reset styles */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
/* main styles */

body {
  font-family: "Gilroy";
  font-weight: 500;
  color: var(--primary-text-color);
}
.container {
  max-width: 980px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
}
/* header */
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-color);
}

.nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--primary-text-color);
}
.current {
  color: var(--primary-text-color);
}
/* hero */
.hero-section {
  margin-top: 40px;
  padding-bottom: 105px;
}
.hero-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.main-title {
  max-width: 124px;
  font-weight: 700;
  font-size: 47px;
  line-height: 1.26;
}
.main-desc {
  max-width: 156px;
  font-size: 18px;
  line-height: 1.22;
}
.change-lang {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--light-color);
}
.change-lang-en {
  color: var(--primary-text-color);
}
/* about me section */
.about-section {
  background-color: var(--bg-dark-color);
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}
.container-about {
  max-width: 506px;
  padding-left: 10px;
  padding-right: 10px;
}
.section-title {
  font-size: 34px;
  line-height: 1.24;
}
.about-title {
  margin-bottom: 30px;
}
.about-desc {
  font-size: 18px;
  line-height: 1.22;
}
.about-desc:not(:last-child) {
  margin-bottom: 44px;
}
/* skills section */
.skills-sec {
  padding-top: 91px;
  padding-bottom: 110px;
  text-align: center;
}
.skills-title {
  margin-bottom: 70px;
}
.skills-desc {
  margin-bottom: 84px;
  font-size: 18px;
  line-height: 1.22;
}
.skills-cards {
  display: flex;
  justify-content: space-between;
}
.skills-card-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;

  color: var(--light-color);
}

.skills-card::before {
  content: "";
  display: inline-block;
  width: 89px;
  height: 88px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 23px;
}
.photoshop-ico::before {
  background-image: url(../img/photoshop.jpg);
}
.illustrator-ico::before {
  background-image: url(../img/illustrator.jpg);
}
.aftereff-ico::before {
  background-image: url(../img/after-effects.jpg);
}
.figma-ico::before {
  width: 59px;
  height: 90px;
  background-image: url(../img/figma.png);
}

.skills-card::after {
  content: "";
  display: inline-block;
  width: 167px;
  height: 26px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 40px;
}

.photoshop-ico::after,
.aftereff-ico::after,
.figma-ico::after {
  background-image: url(../img/stars-4.png);
}
.illustrator-ico::after {
  background-image: url(../img/stars-3.png);
}
/* portfolio */
.portf-sec {
  padding-top: 113px;
  padding-bottom: 96px;
  background-color: var(--bg-dark-color);
  text-align: center;
}
.portf-title {
  margin-bottom: 70px;
}
.portf-img {
  margin-bottom: 45px;
}
.portf-item:not(:last-child) {
  margin-bottom: 100px;
}
.portf-link {
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: inherit;
}
.portf-link:hover,
.portf-link:focus,
.portf-link:active {
  opacity: 0.6;
}
