@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url(../fonts/Gilroy-Medium.woff2) format("woff2"),
    url(../fonts/Gilroy-Medium.woff) format("woff"),
    url(../fonts/Gilroy-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url(../fonts/Gilroy-Bold.woff2") format("woff2"),
    url(../fonts/Gilroy-Bold.woff) format("woff"),
    url(../fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
:root {
  --primary-text-color: #070707;
  --light-color: #828282;
  --bg-light-color: #ffffff;
  --bg-dark-color: #f6f6f6;
}
/* reset styles */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
/* main styles */

body {
  font-family: "Gilroy";
  font-weight: 500;
  color: var(--primary-text-color);
}
.container {
  max-width: 944px;
  margin: 0 auto;
}
/* header */
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-color);
}

.nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--light-color);
}
.current {
  color: var(--primary-text-color);
}
/* hero */
.hero-section {
  padding-bottom: 105px;
}
.hero-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.main-title {
  max-width: 124px;
  font-weight: 700;
  font-size: 47px;
  line-height: 1.26;
}
.main-desc {
  max-width: 156px;
  font-size: 18px;
  line-height: 1.22;
}
.change-lang {
  font-size: 16px;
  line-height: 1.25;
  color: var(--light-color);
}
.change-lang-en {
  color: var(--primary-text-color);
}
